##docker_compose.yml 에서만 사용 . .env 파일로 카피한 후 사용할 것
COMPOSE_PROJECT_NAME=jazzy-web # 컨테이너 이름 합성: project name 뒤에 container name이 옴
USER=docker_jazzy
USERHOME=/home/docker_jazzy
WORKSPACE_ROS=docker_ws
WORKSPACE_WEB=web_ws
WEB_PORT=8000
WEB_VITE_PORT=5173 # use 5174 to isolate the port from the host, default 5173
WEB_BRIDGE_SOCKET_PORT=9090
MYSQL_PORT=3306 # use 3307 ++ if you're running another mysql docker container.
MYSQL_ROOT_PWD=mysqlroot
MYSQL_USER_ID=mysqluser
MYSQL_PWD=mysqluserpassword
MYSQL_DB_NAME=mysqldb